div.tda {
  text-align: left;
}

div.tda p {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-variant: normal;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "SegoeUI-Semibold", "Segoe UI Semibold", "Segoe UI Regular",
    "Segoe UI";
  color: rgb(51, 51, 51);
  font-size: 1rem;
  outline: none !important;
  margin-bottom: 15px;
  margin-top: 5px;
}

div.tda button {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: "SegoeUI", "Segoe UI";
  -webkit-appearance: button;
  overflow: visible;
  border-radius: inherit;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2.5rem;
  margin-bottom: 10px;
  padding-right: 1rem;
  padding-left: 1rem;
  border-color: transparent;
  background-color: rgb(59, 121, 183);
  min-width: 6rem;
  outline: none !important;
  margin-right: 10px;
}
